.card.bg-black{
	background-color: #000000;
}

.btn.btn-card{
	padding: 15px;
	margin: 15px;
	background-color: #000000;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn-card:hover, .btn-card:focus {
	color: #000000;
	background-color: #FFFFFF;
}

.btn-trailer{
	padding: 15px;
	margin: 15px;
	background-color: rgba(0,0,0,0.1);
	border-color: #FFFFFF;
}

.btn-trailer:hover, .btn-trailer:focus {
	background-color: rgba(1,1,1,0.5);
}

.team-section{
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Footer_Together.jpg") no-repeat;
	background-size: cover;
}
.jankric-heading{
	text-transform: capitalize;
}

.jankric-cover {
	display: table;
	width: 100%;
	height: auto;
	padding: 200px 0;
	text-align: center;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/intro-jankric.png") no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }
	.jankric-cover .intro-body {
		display: table-cell;
		vertical-align: middle; }
		.jankric-cover .intro-body .brand-heading {
		font-size: 50px; }
		.jankric-cover .intro-body .intro-text {
		font-size: 18px; }
	@media (min-width: 768px) {
		.jankric-cover {
		height: 100%;
		padding: 0; }
		.jankric-cover .intro-body .brand-heading {
			font-size: 100px; }
		.jankric-cover .intro-body .intro-text {
			font-size: 22px; } 
}